h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#poga {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popUp {
  display: none;
  justify-content: center;
  align-items: center;
}

/*#form {
  display: ;
}
*/
